.imgview {
    width: 300px;
    height: 200px;
    margin: 0 0 50px;
}

.cafe-box {
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.modify-btn {
    font-size: 14px;
    margin-left: 800px;
    background-color: white;
    color: #969696;
    border-color: #d6d6d6;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    display: inline-block;
}

.go-center {
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.cafe-title {
    font-size: 25px;
    margin-bottom: 10px;
}

.cafe-detail {
    margin-bottom: 10px;
}
.div1 {
    width: 50px;
    height: 200px;
    padding: 10px;
    border: 1px solid;
    background: pink;
    float: left
}

.search-input {
    border-radius: 5px;
    width:70%;
    height: 25px;
    border-color: #d6d6d6;
}

.search-btn {
    border-radius: 5px;
    background-color: white;
    color: #969696;
    border-color: #d6d6d6;
    height: 30px;
}

.cafe-btn {
    border-radius: 5px;
    background-color: white;
    color: #969696;
    border-color: #d6d6d6;
    height: 30px;
    margin-right: 20px;
    margin-top: 10px;
    width: 100px;
}

.flex-display {
    float: left;
    clear: right;
    margin-right: 0px;
    min-width: 400px;
    margin-left: 20px;
}

.side{
    float: left;
    width: 20%;
    padding:10px;
    border: 2px solid;
    background: pink;
}

.content{
    float: right;
    width: 65%;
    margin: 0 0 10px;
    padding: 10px;
    border: 2px solid;
}
