/* nav var */
.title {
    margin-top: 50px;
    margin-left: 70px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    border-bottom: 2px solid #5CC685;
}

.gnb{
    display: flex;
    list-style-type: none;
    align-items: center;
    font-size: 18px;
}

.gnb li:nth-child(n+2){
    margin-left: 15px;
}

a:hover{
    text-decoration: none;
    color: #5CC685;
}

.logo{
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.logo-img{
    display: flex;
    width: 140px;
    margin-bottom: 0px;
}

.navlink{
    display: flex;
    flex-direction: column;
}

.nav-name{
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.for-user {
    font-size: 13px;
    float: right;
    margin-right: 10px;
}

.logout-btn {
    font-size: 13px;
    float: right;
    margin-right: 10px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
}

.main{
    background-image: url("/css/main.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: grayscale(100%); */
}

.slogan{
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
}

.main-over{
    color: white;
    font-size: 15px;
    letter-spacing: 20px;
}

.main-slogan {
    color: white;
    margin: 0;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 5px;
    margin-top: 200px;
    font-weight: bold;
    text-align: center;
    font-style: italic;
}

.a-hover-white {
    color: white;
    font-weight: bold;
    margin-top: 0px;
    text-decoration: none;
}

.img-size {
    width: 200px;
    margin-right: 50px;
    margin-left: 50px;
}

.introd {
    color: #686868;
    font-size: 40px;
}

.align {
    display: flex;
    justify-content: center;
}

.default-btn {
    background-color: #5CC685;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    border: none;
    cursor: pointer;
    color:rgb(255, 255, 255);
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.intro-img-size {
    width: 700px;
    height: 400px;
}

.sort-two {
    display: flex;
    margin-top: 10px;
}