.container {
    box-sizing: border-box;
    width: 400px;
    background: #FCFCFC;
    /* border: 1px solid #969696; */
    text-align: center;
    height: 360px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.go-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    opacity: 0.7;
}

.login-font {
    font-size: 23px;
    margin-top: 0px;
    margin-bottom: 0px;
    color:black;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

.line{
    width: 80%;
    border: 1px solid #5CC685;
    transform: rotate(-0.12deg);
    margin-bottom: 40px;
}

input[type=text], input[type=password] {
    width: 85%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 1.5px solid #D3D3D3;
    box-sizing: border-box;
    border-radius: 8px;
}

.error-text-style{
    color: red;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: left;
    width: 420px;
}

.user-btn {
    background-color: #5CC685;
    width: 20%;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    border: none;
    cursor: pointer;
    color:rgb(255, 255, 255);
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 20px;
    margin-right: 40px;
    float: right;
    border-radius: 2px;
}

.font-h4 {
    color:rgb(49, 49, 49);
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.footer-a {
    text-decoration: none;
    color: #5CC685;
}

/* sign-up only */
.signup-container {
    box-sizing: border-box;
    width: 500px;
    background: #FCFCFC;
    /* border: 1px solid #969696; */
    text-align: center;
    height: 650px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.font-signup {
    font-size: 15px;
    margin-top: 20px;
}

.signup-name {
    float: left;
    margin-left: 50px;
}