<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Tumble</title>
  <link th:href="@{/css/default.css}" href="../css/default.css" rel="stylesheet">
</head>
<body>

<div th:replace="/fragments/header.html :: headerFragment"></div>

<button type="submit"><a href="/"> 돌아가기 </a></button>
<h1>고객센터</h1>

<h1>이메일/비밀번호 찾기</h1>
<br><a href="/help/loginHelp">로그인</a>
<br><a href="/help/emailHelp">이메일/비밀번호 찾기</a>
<br><a href="/help/joinHelp">가입</a>
<br><a href="/help/disjoinHelp">탈퇴</a>
<br><a href="/help/hackHelp">도용/해킹 의심</a>
<div th:replace="/fragments/footer.html :: footerFragment"></div>
</body>
</html>