<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시글 상세 페이지</title>
  <link th:href="@{/css/default.css}" href="../css/default.css" rel="stylesheet">
  <link th:href="@{/css/boardview.css}" href="../css/boardview.css" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Myeongjo&family=Nanum+Pen+Script&display=swap" rel="stylesheet">

  <style>
    * {
      font-family: 'Nanum Myeongjo', serif;
    }
  </style>
</head>
<body>
<div th:replace="/fragments/header.html :: headerFragment"></div>
<h1 class="view-title" th:text="${board.title}"></h1>
<span class="view-detail">작성일자 <span th:text="${board.writeDate}"></span></span>
<hr style="width:90%;margin-top:20px;margin-bottom:20px;">
<div class="view-content" th:text="${board.content}"></div>
<div class="view-btn">
  <button class="btn-view"><a class="a-hover" th:href="@{/help/delete(id=${board.id})}">삭제</a></button>
  <button class="btn-view"><a class="a-hover" th:href="@{/help/modify/{id}(id=${board.id})}">수정</a></button>
  <button class="btn-view"><a class="a-hover" th:href="@{/help}">돌아가기</a></button>
</div>
<div th:replace="/fragments/footer.html :: footerFragment"></div>
</body>
</html>