<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시글 상세 페이지</title>
  <link th:href="@{/css/default.css}" href="../css/default.css" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Myeongjo&family=Nanum+Pen+Script&display=swap" rel="stylesheet">

  <style>
    * {
      font-family: 'Nanum Myeongjo', serif;
    }
  </style>
</head>
<body>
<div th:replace="/fragments/header.html :: headerFragment"></div>
<h1 th:text="${board.title}"></h1>
<p th:text="${board.content}"></p>
<a th:href="@{/help/delete(id=${board.id})}">글삭제</a>
<a th:href="@{/help/modify/{id}(id=${board.id})}">글수정</a>
<a th:href="@{/help}">돌아가기</a>
<div th:replace="/fragments/footer.html :: footerFragment"></div>

</body>
</html>