<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>글 작성</title>
</head>

<style>
    .layout {
        width: 500px;
        margin: 0 auto;
        margin-top: 40px;
    }

    .layout input {
        width: 100%;
        box-sizing: border-box;
    }

    .layout textarea {
        width: 100%;
        margin-top: 10px;
        min-height: 300px;
    }
    .field-error {
         border-color: #dc3545;
         color: #dc3545;
         }

</style>

<body>
<div class="layout">
    <form action="/cafe/enroll" th:action th:object="${cafe}" method="post">
        <div>
            <label for="name">카페 이름</label>
            <input id="name" name="name" type="text" th:field="*{name}" th:errorclass="field-error">
            <div th:class="field-error" th:errors="*{name}" />
        </div>

        <div>
            <label for="address">주소</label>
            <input id="address" name="address" type="text" th:field="*{address}" th:errorclass="field-error">
            <div th:class="field-error" th:errors="*{address}" />
        </div>

        <div>
            <label for="discount">할인 혜택</label>
            <input id="discount" name="discount" type="text" th:field="*{discount}" th:errorclass="field-error">
            <div th:class="field-error" th:errors="*{discount}" />
        </div>

        <div>
            <label for="phoneNum">번호</label>
            <input id="phoneNum" name="phoneNum" type="text" th:field="*{phoneNum}" th:errorclass="field-error">
            <div th:class="field-error" th:errors="*{discount}" />
        </div>

        <div>
            <label for="hour">영업시간</label>
            <input id="hour"name="hour" type="text" th:field="*{hour}" th:errorclass="field-error">
            <div th:class="field-error" th:errors="*{hour}" />
        </div>

        <div>
            <label for="introduce">소개글</label>
            <input id="introduce" name="introduce" type="text" th:field="*{introduce}" th:errorclass="field-error">
            <div th:class="field-error" th:errors="*{introduce}" />
        </div>


        <button type="submit">등록</button>
    </form>

    <form action="/cafe">
        <button>돌아가기</button>
    </form>

</div>
</body>
</html>
