<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:height="http://www.w3.org/1999/xhtml" xmlns:red
      xmlns:float="http://www.w3.org/1999/xhtml" xmlns:border="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tumble</title>
    <link th:href="@{/css/default.css}" href="../css/default.css" rel="stylesheet">
    <link th:href="@{/css/cafe.css}" href="../css/cafe.css" rel="stylesheet">
</head>

<body>
<div th:replace="/fragments/header.html :: headerFragment"></div>
<h1 class="title">카페</h1>
<div class="cafe-btns" style="float:right; clear:left;">
    <div>
        <input class="search-input" placeholder="카페 이름을 검색하세요">
        <button class="search-btn">검색</button>
    </div>
    <div>
        <button class="cafe-btn"><a href="/cafe/cafeMap">지도보기</a></button>
        <button class="cafe-btn"><a href="/cafe/enroll">카페등록하기</a></button>
    </div>
</div>

<div style="width: 15%; height:150px;border:5px solid white; float: left;">
    <tr th:each = "files:${file}">
    <img class="imgview" th:src="@{/img/}+${files.filename}"
    </tr>
</div>

<!--<div class="side" style="width:100%" th:each="files : ${file}">-->
<!--        <img class="imgview" th:src="@{/img/}+${files.filename}">-->
<!--</div>-->

<!--<div style="margin-top:100px" th:each="files : ${file}">-->
<!--    <div class="side" style="width:100%">-->
<!--        <img class="imgview" th:src="{/img/}+{files.filename}">-->
<!--    </div>-->
<!--</div>-->

<div style="width:60%; height:150px; margin-bottom:50px; border:10px solid white; float:right;">
    <tr th:each="cafe : ${cafes}">
    <div style="width:65%;">
        <div th:text="${cafe.name}"></div>
        <div th:text="${cafe.address}"></div>
        <div th:text="${cafe.phoneNum}"></div>
        <div th:text="${cafe.hour}"></div>
        <div th:text="${cafe.discount}"></div>
        <div style="margin-bottom:20px"th:text="${cafe.introduce}"></div>
    </div>
    <form style="margin-bottom:50px" th:action="@{/cafe/modify/{id}(id=${cafe.id})}">
        <button class="modify-btn">수정</button>
    </form>
    </tr>
</div>

<!--<div style="margin-top:100px" th:each="cafe : ${cafes}">-->
<!--    <div class="content" style="width:90%;margin-left:25px; margin-bottom:0;">-->
<!--        <div th:text="${cafe.name}"></div>-->
<!--        <div th:text="${cafe.address}"></div>-->
<!--        <div th:text="${cafe.phoneNum}"></div>-->
<!--        <div th:text="${cafe.hour}"></div>-->
<!--        <div th:text="${cafe.discount}"></div>-->
<!--        <div th:text="${cafe.introduce}"></div>-->
<!--    </div>-->
<!--    <form th:action="@{/cafe/modify/{id}(id=${cafe.id})}">-->
<!--        <button class="modify-btn">수정</button>-->
<!--    </form>-->
<!--</div>-->


</body>
</html>

