<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/footer.css}" href="../css/footer.css" rel="stylesheet">
</head>
<body>
    <footer th:fragment="footerFragment" class="page-footer font-small teal pt-4">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
               <form th:action="@{/letter}" method="get">
                   <input type="text">
                   <button type="submit">트렌트 레터 구독</button>
               </form>
                <div class="footer-padding">
                    <span class="footer-padding">FAQ</span>
                    <span class="footer-padding">Contact Us</span>
                    <span class="footer-padding">About Tumble</span>
                </div>
                <div>
                    <span>FAQ</span>
                    <span>Contact Us</span>
                    <span>About Tumble</span>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>