<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <footer th:fragment="footerFragment" class="page-footer font-small teal pt-4">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <h3>FAQ</h3>
               <form th:action="@{/letter}" method="get">
                   <input type="text">
                   <button type="submit">트렌트 레터 구독</button>
               </form>
            </div>
        </div>
    </footer>
</body>
</html>