<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/default.css}" href="../css/default.css" rel="stylesheet">
</head>
<body>
<header th:fragment="headerFragment">
    <div class="for-user">
        <a style="text-decoration-line: none; color:black;" th:unless="${loginMember}" href="/login">로그인&emsp;|</a>
        <a style="text-decoration-line: none; color:black;" th:unless="${loginMember}" href="/signup">회원가입</a>
        <p th:if="*{loginMember}" th:text="|${loginMember.name}님 환영합니다.|">로그인 정보</p>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="logout-btn" th:if="${loginMember}">로그아웃</button>
        </form>
    </div>
    <!-- nav bar  -->
    <div class="nav">
        <!-- logo -->
        <div class="logo">
            <a href="/"><img src="/images/logo.jpg" class="logo-img"></a>
        </div>
        <!-- link -->
        <div claass="navlink">
            <ul class="gnb">
                <li><a class="nav-name" href="/">Home</a></li>
                <li><a class="nav-name" href="/cafe">Cafe</a></li>
                <li><a class="nav-name" href="/community">Community</a></li>
                <li><a class="nav-name" href="/campaign">Campaign</a></li>
                <li><a class="nav-name" href="/mypage">Mypage</a></li>
            </ul>
        </div>
    </div>
</header>
</body>
</html>