<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<header th:fragment="headerFragment">
    <!-- 상단 nav bar -->
    <nav>
        <!-- logo -->
        <div class="logo">
            <a th:href="@{/}"><img src="images/logo.jpg" alt="이미지 없음" width="120" height="50"></a>
        </div>
        <!-- gnb -->
        <div class="gnb">
            <a href="/campaign">Campaign</a>
            <a href="/cafe">Cafe</a>
            <a href="/community">Community</a>
            <a href="/mypage">Mypage</a>
        </div>
        <!-- lnb -->
        <div th:unless=${loginMember} class="lnb">
            <a th:unless="${loginMember} "href="/signup"> 회원가입 </a>
            <a th:unless=${loginMember} href="/login"> 로그인 </a>
        </div>
        <span th:if="${loginMember}" class="lnb">
                <p id="name" th:if="${loginMember} "th:text="|${loginMember.name}님 환영합니다.|"></p>
                <form th:if="${loginMember}" th:action="@{/logout}" method="post">
                    <a th:href="@{/}"><button type="submit"> 로그아웃</button></a>
                </form>
        </span>
    </nav>
</header>
</body>
</html>