<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/default.css}" href="../css/default.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Myeongjo&family=Nanum+Pen+Script&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'Nanum Myeongjo', serif;
        }
    </style>
</head>
<body>
<header th:fragment="headerFragment">
    <div class="for-user">
        <a style="text-decoration-line: none; color:black;" th:unless="${loginMember}" href="/login">로그인&emsp;|</a>
        <a style="text-decoration-line: none; color:black;" th:unless="${loginMember}" href="/signup">회원가입</a>
        <div th:if="*{loginMember}" style="display:flex;">
            <span th:text="|${loginMember.name}님 환영합니다.|"></span>
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="logout-btn" th:if="${loginMember}">로그아웃</button>
            </form>
        </div>
    </div>
    <!-- nav bar  -->
    <div class="nav">
        <!-- logo -->
        <div class="logo">
            <a href="/"><img src="/images/logo_f.png" class="logo-img"></a>
        </div>
        <!-- link -->
        <div claass="navlink">
            <ul class="gnb">
                <li><a class="nav-name a-hover-nav" href="/">Home</a></li>
                <li><a class="nav-name a-hover-nav" href="/cafe">Cafe</a></li>
                <li><a class="nav-name a-hover-nav" href="/community">Community</a></li>
                <li><a class="nav-name a-hover-nav" href="/campaign">Campaign</a></li>
                <li><a style="margin-right:20px;" class="nav-name a-hover-nav" href="/help">Help</a></li>
            </ul>
        </div>
    </div>
</header>
</body>
</html>