<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>글 수정</title>
  <link th:href="@{/css/default.css}" href="../css/default.css" rel="stylesheet">
  <link th:href="@{/css/enroll.css}" href="../css/enroll.css" rel="stylesheet">
</head>
<body>
<div th:replace="/fragments/header.html :: headerFragment"></div>
<h2 class="title">글 수정</h2>
<div class="go-center">
  <form th:action="@{/community/update/{id}(id= ${board.id})}" method="post" class="cafe-container" style="width: 80%;">
    <!-- title -->
    <div class="info-container">
      <input cols="100" name="title" type="text" th:value="${board.title}" autofocus required wrap="hard" placeholder="제목"></input>
    </div>
    <!-- content -->
    <div class="info-container">
      <textarea cols="50" rows="20" name="content" th:text="${board.content}" autofocus required wrap="hard" placeholder="공유하고 싶은 내용을 자유롭게 적어주세요."></textarea>
    </div>
    <button type="submit" class="cafe-btn">수정완료</button>
  </form>
  <div class="layout">
  </div>
</div>
</body>
</html>

