<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Tumble</title>
</head>
<body>
<h1>Tumble Community 입니다.</h1>
<li>
  <a href="/community/enroll"> 글 작성 </a>
  <a href="/campaign/delete"> 글 삭제 </a>
</li>

<li><a href="/home"> 돌아가기 </a></li>

<div class="container">

  <div>

    <table>

      <thead>
      <tr>
        <th>#</th>
        <th>이름</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="member : ${members}">
        <td th:text="${member.id}"></td>
        <td th:text="${member.name}"></td>
      </tr>
      </tbody>
    </table>
  </div>

</body>
</html>