<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Tumble</title>
</head>

<style>
  .layout {
    width: 500px;
    margin: 40px auto 0;
  }

  td,h2 {
    text-align: center;
  }

</style>
<body>
<h1>Tumble Community 입니다.</h1>

<li>
  <button type="submit"><a href="/community/enroll"> 글 작성 </a></button>
  <button type="submit"><a href="/"> 돌아가기 </a></button>
</li>

<h2>글 목록</h2>
<div class="layout">
  <table>
    <thead>
    <tr>
      <th>글번호</th>
      <th>제목</th>
      <th>작성자</th>
      <th>작성일자</th>
      <th>조회수</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board : ${board}">
        <td th:text="${board.id}">1</td>
        <td>
          <a th:text="${board.title}" th:href="@{/community/view(id=${board.id})}"></a>
        </td>
      <td th:text="${board.writer}"></td>
      <td th:text="${board.writeDate}"></td>
      <td th:text="${board.countVisit}"></td>

    </tr>

    </tbody>
  </table>
  <button type="submit"><a th:href="@{/community(page = ${prePage - 1})}"> 이전 페이지 </a></button>
  <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
    <a th:if="${page != nowPage}"
       th:href=
    "@{/community(page=${page - 1}, searchKeyword=${param.searchKeyword})}"
    th:text="${page}"></a>
    <strong th:if="${page == nowPage}" th:text="${page}" style="color : red"></strong>
  </th:block>
  <button type="submit"><a th:href="@{/community(page = ${nowPage})}"> 다음 페이지 </a></button>

  <form th:action="@{/community}" method="get">

    <input type="text" name="searchKeyword">
    <button type="submit">검색</button>
  </form>


</div>

</body>
</html>