<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Tumble</title>
  <link th:href="@{/css/default.css}" href="../css/default.css" rel="stylesheet">
  <link th:href="@{/css/community.css}" href="../css/community.css" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Myeongjo&family=Nanum+Pen+Script&display=swap" rel="stylesheet">

  <style>
    * {
      font-family: 'Nanum Myeongjo', serif;
    }
  </style>
</head>
<body>
<div th:replace="/fragments/header.html :: headerFragment"></div>
<h1 class="title">커뮤니티</h1>
<div class="go-center">
  <div style="width:80%;">
    <div class="community-container" th:each="board : ${board}">
      <a class="a-hover" th:href="@{/community/view(id=${board.id})}"><span class="community-title" th:text="${board.title}"></span></a>
      <span class="community-extra">작성자 <span th:text="${board.writer}"></span> | 작성일자 <span th:text="${board.writeDate}"></span> | 조회수 <span th:text="${board.countVisit}"></span></span>
    </div>
    <div>
      <!-- paging -->
      <button class="paging-btn" type="submit"><a class="a-hover" th:href="@{/community(page = ${prePage - 1})}"> 이전 </a></button>
      <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
        <a class="a-hover" th:if="${page != nowPage}"
           th:href=
                   "@{/community(page=${page - 1}, searchKeyword=${param.searchKeyword})}"
           th:text="${page}"></a>
        <strong th:if="${page == nowPage}" th:text="${page}" style="color : red"></strong>
      </th:block>
      <button class="paging-btn" type="submit"><a class="a-hover" th:href="@{/community(page = ${nowPage})}"> 다음 </a></button>
      <!-- search -->
      <form style="margin-top:20px;">
        <input class="search-input" type="text" name="searchKeyword" placeholder="제목을 입력하세요">
        <button class="search-btn" type="submit">검색</button>
      </form>
    </div>
    <div>
      <button type="submit" class="gray-btn"><a class="a-hover" href="/community/enroll">글 작성하기</a></button>
    </div>
  </div>
</div>

<div th:replace="/fragments/footer.html :: footerFragment"></div>
</body>
</html>