<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/user.css}" href="../css/user.css" rel="stylesheet">
    <link th:href="@{/css/default.css}" href="../css/default.css" rel="stylesheet">
</head>
<body>
<div th:replace="/fragments/header.html :: headerFragment"></div>
<h1 class="title">로그인</h1>
<div class="go-center">
    <div class="container">
        <h2>로그인</h2>
        <hr class="line">
        <form action="" th:action th:object="${member}" method="post">
            <div th:if="${#fields.hasGlobalErrors()}">
                <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
            </div>
            <input type="text" placeholder="아이디" th:field="*{userId}" name="username" required>
            <input type="text" placeholder="비밀번호" th:field="*{password}" name="password" required>
            <div class="font-h4">* 계정이 없는 경우에는
                <a class="footer-a" th:href="@{/signup}">회원가입</a>을 해주세요.
            </div>
            <button type="submit" class="user-btn">로그인</button>
        </form>
    </div>
</div>
<div th:replace="/fragments/footer.html :: footerFragment"></div>
</body>
</html>