<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
</head>

<body>
<div class="top-container">
    <h1>Tumble</h1>
    <a href="/campaign"> 캠페인 소개</a>
    <a href="/cafe"> 카페 소개 </a>
    <a href="/community"> 커뮤니티 </a>
    <a href="/mypage"> 마이페이지 </a>
    <hr>
    <nav class="top-menu" th:unless="${member}">
        <ul>
            <li> <a th:unless="${member} "href="/signup"> 회원가입 / </a></li>
            <li><a th:unless=${member} href="/login"> 로그인 </a></li>
        </ul>
    </nav>


    <h5 th:if="${member} "th:text="|${member.name}님 환영합니다.|"></h5>
    <form th:if="${member}" th:action="@{/logout}" method="post">
        <button type="submit">로그아웃</button>
    </form>
</div>

</body>
</html>

