<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div>
<h1>Tumble</h1>
    <a href="/campaign"> 캠페인 소개</a>
    <a href="/cafe"> 카페 소개 </a>
    <a href="/community"> 커뮤니티 </a>
    <a href="/mypage"> 마이페이지 </a>
    <h4 class="mb-3" th:text="|${member.name}님 환영합니다.|">로그인 사용자 이름</h4>
    <form th:action="@{/logout}" method="post">
        <button class="w-100 btn btn-dark btn-lg" type="submit">로그아웃</button>
    </form>
</div>
</body>
</html>